@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// Basic Config

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  // background: rgba(0, 39, 27, 1);
}
.row {
  --bs-gutter-x: 0;
}

.text {
  color: #00271b;
  font-weight: 700;
}

// yellow: #FFCE1F
// green: #00271B

///////////// Reusabele Elements /////////////

// Images

.img {
  margin: 20px 50px 50px 50px;
  // height: 100px;
  // width: 100px;
  max-width: 27%;
  max-height: 27%;
}

////////////////////////////////// COMPONENTS //////////////////////////////////

///////////// Header Section /////////////

.header {
  display: flex;
  flex-direction: column;
  background-image: url("yo-transparente-3.png"),
    linear-gradient(#153c46 0%, #56bb68 100%);
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.name {
  font-weight: 700;
  display: flex;
  color: #ffffff;
  padding-left: 30px;
  font-size: 100px;
  line-height: 100%;
  transition: 0.6s;
}

.toggle-icon {
  display: none;
}

.navbar {
  margin-right: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  list-style: none;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.6s;
}

.sticky {
  padding: 10px 5px;
  background: #ffffffd8;
}
nav.sticky h1 {
  color: #153c46;
  font-size: 130%;
}
nav.sticky ul li a {
  color: #153c46;
}
nav.sticky ul li a:hover {
  color: #286d7e;
}
nav.sticky h2 {
  display: none;
}

.main-nav {
  display: flex;
  margin: 0;
  margin-bottom: 130px;
}
.sticky .main-nav {
  margin-bottom: 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  margin: 0px 15px;
  color: #ffffff;
  padding: 15px;
  font-size: 130%;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.15s;
}

.main-nav li a:hover {
  color: aliceblue;
}

.title {
  display: flex;
  color: #ffffff;
  font-size: 250%;
  padding: 30px;
  transition: 0.6s;
}

.btn-nav {
  color: #00271b;
  font-weight: 700;
}

///////////// About Section /////////////

.about-section {
  background-image: url("pattern.png");
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #153c46;
}

.about-title {
  color: #ffffff;
  font-size: 70px;
  text-align: center;
}

.about-text {
  color: #ffffff;
  padding: 10px 30px;
  text-align: right;
  font-size: 180%;
  display: flex;
}

.icon-git {
  float: right;
  margin: 0px 5px;
}

.icon-in {
  float: right;
  margin: 0px 30px;
}

.icon,
.icon:link {
  height: 50px;
  transition: all 0.15s;
}

.icon:hover {
  height: 60px;
}

///////////// Projects Section /////////////
.projects-section {
  background: #56bb68;
  padding-bottom: 20px;
}

.projects-title {
  color: #ffffff;
  background-color: #56bb68;
  font-size: 70px;
  text-align: center;
}

.project-container {
  box-shadow: rgba(0, 0, 0, 0.411) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.329) 0px 4px 6px -2px;
  border-radius: 1vh;
  height: 500px;
  background-color: #153c46;
  padding: 20px;
}

.project-col {
  margin: 0px 30px;
}

.project-title {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.project-text {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.project-btn {
  border-radius: 100px;
  padding: 10px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: #56bb68;
  transition: color 0.15s, background-color 0.15s;
}
.project-btn:hover {
  color: rgb(200, 255, 214);
  background-color: #004b34;
}
.project-btn:active {
  color: #ffffff;
  background-color: #001a12;
}

.project-img {
  margin: 20px 0px;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.project-container div {
  text-align: center;
  padding: 5px 10px;
}

///////////// Contact Section /////////////
.contact {
  background: linear-gradient(#153c46 0%, #00181d 100%);
}
.contact-title {
  padding: 10px;
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

.contact-section {
  box-sizing: border-box;

  width: 100%;
  height: 510px;
  align-items: center;
  justify-content: center;
  display: flex;
}

form {
  border-radius: 1vh;
  background-color: rgb(200, 255, 214);
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 1vw 2vw;
  width: 90%;
  max-width: 600px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  background: #ffffff;
}
form button {
  font-weight: 700;
  padding: 15px;
  background-color: #153c46;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  outline: none;
  border-radius: 30px;
  width: 170px;
  margin: 15px auto;
  transition: all 0.15s;
}
form button:hover {
  background-color: #0c2b33;
}
form button:active {
  background-color: #001a12;
}
.contact-success {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.subtitle a {
  text-decoration: none;
  color: rgb(169, 255, 208);
  transition: all 0.15s;
}
.subtitle a:hover {
  color: rgb(0, 109, 199);
}

///////////// Footer /////////////

footer {
  background-image: url("pattern.png");
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: #b1b1b1;
  background-color: #00181d;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vw 0;
  font-size: 90%;
}
footer h1 {
  font-size: 30px;
}

.footer-nav,
.footer-nav a {
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #b1b1b1;
  transition: all 0.15s;
}
.footer-nav a:hover {
  color: #ffffff;
}
.footer-nav li {
  margin: 5px;
}

///////////// Breakpoints /////////////
// X-Small devices (portrait phones, less than 576px)
@media (min-width: 0px) {
  //// Header ////
  .sticky .toggle-nav,
  .sticky .toggle-nav li a,
  .toggle-nav,
  .toggle-nav li a {
    font-weight: 700;
    position: absolute;
    right: 0;
    color: transparent;
    text-decoration: none;
    list-style: none;
    transition: color 0s, position 3s;
    pointer-events: none;
    cursor: default;
  }
  .toggle-icon {
    border: none;
    background: none;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    transition: all 0.6s;
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav,
  .main-nav li a {
    font-size: 13px;
    flex-direction: column;
    margin-right: 0;
    padding: 1px 10px 10px 0;
  }
  .main-nav {
    align-items: flex-end;
    padding: 0;
    margin: 60px 0;
    position: fixed;
    right: 0;
    transition: all 0.15s;
  }
  .sticky .main-nav {
    position: relative;
  }
  .sticky .toggle-icon {
    color: #153c46;
    padding: 10px 15px;
  }
  .header {
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .name {
    order: -1;
    font-size: 50px;
  }
  .title {
    font-size: 17px;
  }
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }
  //// About ////
  .about-section,
  footer {
    background-size: 200%;
  }

  .about-title {
    font-size: 50px;
  }
  .about-section .row {
    flex-direction: column-reverse;
  }
  .about-text {
    text-align: center;
    font-size: 22px;
  }
  .icon-links {
    width: 50%;
    margin: auto;
    display: block;
  }
  .images {
    display: flex;
  }
  .images img {
    max-width: 40%;
    max-height: 40%;
    margin: 30px auto;
  }
  //// Projects ////
  .project-container {
    height: auto;
  }
  .projects-title {
    font-size: 50px;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
  .project-col {
    margin: 0;
    padding: 10px;
  }
  .project-title {
    font-size: 35px;
  }
  .project-img {
    margin: auto auto 10px auto;
    max-width: 80%;
    max-height: 80%;
  }
  .project-text {
    font-size: 15px;
  }
  //// Contact ////
  .contact h1 {
    font-size: 40px;
  }
  .contact h2 {
    font-size: 15px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .title {
    margin-right: 400px;
  }
  .header,
  footer {
    background-size: 100%;
  }
  .icon-links {
    width: 30%;
    margin: auto;
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  //// Header ////
  .header {
    background-size: 200%;
  }
  //// About ////
  .about-title {
    font-size: 60px;
  }
  .about-section .row {
    flex-direction: column-reverse;
  }
  .about-text {
    text-align: center;
    font-size: 30px;
  }
  .icon-links {
    width: 25%;
    margin: auto;
    display: block;
  }
  .images {
    display: flex;
  }
  .images img {
    max-width: 50%;
    max-height: 50%;
    margin: 30px auto;
  }
  //// Projects ////
  .project-container {
    height: 600px;
    max-width: 700px;
  }
  .projects-title {
    font-size: 60px;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
  .project-col {
    margin: 0;
    padding: 10px;
  }
  .project-title {
    font-size: 45px;
  }
  .project-img {
    margin: auto auto 10px auto;
    max-width: 100%;
    max-height: 100%;
  }
  .project-text {
    font-size: 25px;
  }
  .project-btn {
    font-size: 25px;
  }
  //// Contact ////
  .contact h1 {
    font-size: 50px;
  }
  .contact h2 {
    font-size: 25px;
  }
  .contact-section .container {
    max-width: 700px;
  }
  form {
    font-size: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  //// Header ////
  .main-nav,
  .main-nav li a {
    font-size: 20px;
    flex-direction: row;
    margin-right: 0;
    padding: 1px 10px 10px 0;
  }
  .main-nav {
    padding: 0;
    margin: 10px 0;
    position: fixed;
    right: 0;
  }
  .header {
    background-size: 100%;
  }
  .navbar {
    flex-direction: row;
  }
  .main-nav {
    padding: 0;
  }
  .toggle-icon {
    display: none;
  }
  .name {
    font-size: 70px;
  }
  .title {
    font-size: 30px;
  }
  /// About ///
  .about-section,
  footer {
    background-size: 150%;
  }
  .about-section .row {
    flex-direction: row;
  }
  .about-text {
    font-size: 24px;
    text-align: end;
  }
  .images {
    display: block;
  }
  .images img {
    max-width: 30%;
    max-height: 30%;
    margin: 30px auto;
  }
  .icon-links {
    width: auto;
    margin-bottom: -10px;
    display: block;
  }
  /// Projects ///
  .projects {
    flex-direction: row;
  }
  .project-container {
    height: 570px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  /// Header ///
  .navbar {
    flex-direction: column;
  }
  .sticky {
    flex-direction: row;
  }
  // .header {
  //   background-position: 1%;
  // }
  /// About ///
  .about-text {
    font-size: 27px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
